{
    "awsId": "AKIAIB2YMXXKLRAKQE6Q",
    "awsSecret": "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",
    "gcpServiceAccountJSONFile":"~/gcpServiceAccount.json",
    "gcpUserProfileBucketName":"hyperpilot-gcp-profile",
    "port": 7777,
    "filesPath": "/tmp/deployer",
    "shutDownTime": "15h",
    "inCluster": false,
    "restartCount": 5,
    "store": {
        "type": "datastore",
        "domainPostfix": ""
    }
}
