{
  "awsId":"",
  "awsSecret":"",
  "gcpServiceAccountJSONFile":"~/gcpServiceAccount.json",
  "gcpUserProfileBucketName":"hyperpilot-gcp-profile",
  "port": 7777,
  "filesPath": "/tmp/deployer",
  "shutDownTime": "6h",
  "inCluster": false,
  "restartCount": 5,
  "store": {
    "type": "file",
    "domainPostfix": ""
  }
}
