{
  "awsId":"",
  "awsSecret":"",
  "gcpServiceAccountJSONFile":"~/gcpServiceAccount.json",
  "port": 7777,
  "filesPath": "/tmp/deployer",
  "inCluster": false,
  "restartCount": 5,
  "store": {
    "type": "file",
    "domainPostfix": ""
  },
  "s3": {
    "region": "us-east-1"
  },
  "hyperpilot-shared-gcp": {
    "use": false
  }
}
