<!DOCTYPE html>
<html>

<head>
    <title>Deployer</title>
    <link rel="import" href="/static/common/linkCss.html">
    <link rel="import" href="/static/common/linkJs.html">
    <script>
        $(function () {
            $('#addUserBtn').click(function () {
                $('#userData:last-child').append(rowTemplateHtml);
            });
        });

        var rowTemplateHtml = `
        <tbody>
            <tr>
                <td rowspan="4" data-name="userId"><input type="text" size="10"/></td>
                <td rowspan="2">AWS</td>
                <td width="20%">AWS_ACCESS_KEY_ID</td>
                <td data-name="awsId"><input type="text" size="50"/></td>
                <td rowspan="4" style="text-align:center">
                    <button type="button" class="btn btn-success"
                        onclick="storeUser($(this).closest('tbody'));">
                        <i class="fa fa-check"></i> Confirm</button>
                    </button>
                    <button type="button" class="btn btn-danger"
                        onclick="$(this).closest('tbody').remove();">
                        <i class="fa fa-trash-o"></i> Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td>AWS_SECRET_ACCESS_KEY</td>
                <td data-name="awsSecret"><input type="text" size="50"/></td>
            </tr>
            <tr>
                <td rowspan="2">GCP</td>
                <td>GMAIL USER NAME</td>
                <td data-name="serviceAccount"><input type="text" size="50"/></td>
            </tr>
            <tr>
                <td>SERVICE ACCOUNT FILE CONTENT</td>
                <td data-name="authJSONFileContent" style="word-wrap: normal; word-break: break-all; white-space: normal;">
                    <textarea cols="60" rows="5"></textarea>
                </td>
            </tr>
        </tbody>`;
        var fileUploadHtml = '<input type="file"/>';
        var cancelBtnHtml = `
        <button type="button" class="btn btn-warning" onclick="cancelEdit($(this).closest('tbody'));">
            <i class="fa fa-times"></i> Cancel
        </button>`;
        var updateUserBtnHtml = `
        <button type="button" class="btn btn-success" onclick="storeUser($(this).closest('tbody'));">
            <i class="fa fa-pencil-square-o"></i> Update
        </button>`;
        var editUserBtnHtml = `
        <button type="button" class="btn btn-warning" onclick="editUser($(this).closest('tbody'));">
            <i class="fa fa-pencil-square-o"></i> Edit
        </button>`;
        var delUserBtnHtml = `
        <button type="button" class="btn btn-danger" onclick="deleteUser($(this).closest('tbody'));">
            <i class="fa fa-trash-o"></i> Delete
        </button>`;

        function checkUserData($tbody, addMode) {
            var userId = $tbody.find('td[data-name=userId] > input:text').val();
            if (addMode && userId == '') {
                alert('Please enter a userId');
                return false;
            }

            return true;
        }

        function storeUser($tbody) {
            var formdata = {};
            var actionType = '';
            var userId = '';
            var url = '';
            if ($tbody.find('td[data-name=userId] > input:text').length == 0) {
                actionType = 'PUT';
                userId = $tbody.find('td[data-name=userId]').html();
                url = '/ui/users/' + userId;
            } else {
                actionType = 'POST';
                url = '/ui/users';
                userId = $tbody.find('td[data-name=userId] > input:text').val();   
            }

            if (actionType == 'POST' && !checkUserData($tbody, true)) {
                return false;
            }

            formdata.userId = userId;
            formdata.awsId = $tbody.find('td[data-name=awsId] > input:text').val();
            formdata.awsSecret = $tbody.find('td[data-name=awsSecret] > input:text').val();
            formdata.serviceAccount = $tbody.find('td[data-name=serviceAccount] > input:text').val();
            formdata.authJSONFileContent = $tbody.find('td[data-name=authJSONFileContent] > textarea').val();
            store(url, formdata, actionType);
        }

        function deleteUser($tbody) {
            var userId = $tbody.find('td[data-name=userId]').html();
            if (confirm('Delete ' + userId + '?')) {
                $.ajax({
                    url: '/ui/users/' + userId,
                    type: 'DELETE',
                    dataType: 'json',
                    success: function (json) {
                        alert('Delete user ok');
                        location.href = "/ui/users";
                    },
                    error: function (xhr, textStatus, error) {
                        alert('Delete user fail');
                    }
                });
            }
        }

        function store(url, formdata, actionType) {
            $.ajax({
                url: url,
                type: actionType,
                data: formdata,
                dataType: 'json',
                success: function (data) {
                    alert('Store user ok');
                    location.href = "/ui/users";
                },
                error: function (xhr, textStatus, error) {
                    alert('Store user fail');
                }
            });  
        }

        function editUser($tbody) {
            $tbody.css('background-color', '#d3efff');

            var awsId = $tbody.find('td[data-name=awsId]').html();
            var awsSecret = $tbody.find('td[data-name=awsSecret]').html();
            var serviceAccount = $tbody.find('td[data-name=serviceAccount]').html();
            var authJSONFileContent = $tbody.find('td[data-name=authJSONFileContent]').find('div').html();
   
            $tbody.find('td[data-name=awsId]').html('<input type="text" value="' + awsId +
                '" size="50"/><input type="hidden" value="' + awsId + '"/>');
            $tbody.find('td[data-name=awsSecret]').html('<input type="text" value="' + awsSecret +
                '" size="50"/><input type="hidden" value="' + awsSecret + '"/>');
            $tbody.find('td[data-name=serviceAccount]').html('<input type="text" value="' + serviceAccount +
                '" size="50"/><input type="hidden" value="' + serviceAccount + '"/>');
            $tbody.find('td[data-name=authJSONFileContent]').html('<textarea cols="60" rows="5">' + authJSONFileContent + 
                '</textarea><input type="hidden" value=\'' + authJSONFileContent + '\'/>');
            $tbody.find('td[data-name=btn]').html(updateUserBtnHtml + '&nbsp;' + cancelBtnHtml);
        }

        function cancelEdit($tbody) {
            var awsId = $tbody.find('td[data-name=awsId] > input:hidden').val();
            var awsSecret = $tbody.find('td[data-name=awsSecret] > input:hidden').val();
            var serviceAccount = $tbody.find('td[data-name=serviceAccount] > input:hidden').val();
            var authJSONFileContent = $tbody.find('td[data-name=authJSONFileContent] > input:hidden').val();

            $tbody.find('td[data-name=awsId]').html(awsId);
            $tbody.find('td[data-name=awsSecret]').html(awsSecret);
            $tbody.find('td[data-name=serviceAccount]').html(serviceAccount);
            $tbody.find('td[data-name=authJSONFileContent]').html('<div style="height: 80px; overflow-y: auto;">' + authJSONFileContent + '</div>');
            $tbody.find('td[data-name=btn]').html(editUserBtnHtml + '&nbsp;' + delUserBtnHtml);
            $tbody.css('background-color', '');
        }
    </script>
    <style>
        main {
            margin-left: 0%;
        }

        .user-detail button {
            width: 90px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
            padding: 15px;
        }

        th {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <!-- header -->
    <header>
        <nav>
            <a href="/ui" class="banner">Deployer</a>
            <ul>
                <li>
                    <a href="/ui">deployments</a>
                </li>
                <li>
                    <a href="/ui/users" class="active">users</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="user-detail-btn">
            <button id="addUserBtn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add User</button>
        </div>
        <div class="user-detail">
            <table id="userData">
                <tbody>
                    <tr>
                        <th width="10%">USER_ID</th>
                        <th width="7%">CLUSTER</th>
                        <th width="63%" colspan="2">ATTRIBUTES</th>
                        <th width="20%">&nbsp;</th>
                    </tr>
                </tbody>
                {{range $userId, $profile := .userProfiles}} 
                <tbody>
                    <tr>
                        <td rowspan="4" data-name="userId">{{$userId}}</td>
                        <td rowspan="2">AWS</td>
                        <td width="20%">AWS_ACCESS_KEY_ID</td>
                        <td data-name="awsId">{{if $profile.AWSProfile}}{{$profile.AWSProfile.AwsId}}{{end}}</td>
                        <td data-name="btn" rowspan="4" style="text-align:center">
                            <button type="button" class="btn btn-warning" onclick="editUser($(this).closest('tbody'));">
                                <i class="fa fa-pencil-square-o"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger" onclick="deleteUser($(this).closest('tbody'));">
                                <i class="fa fa-trash-o"></i> Delete
                            </button>               
                        </td>
                    </tr>
                    <tr>
                        <td>AWS_SECRET_ACCESS_KEY</td>
                        <td data-name="awsSecret">{{if $profile.AWSProfile}}{{$profile.AWSProfile.AwsSecret}}{{end}}</td>
                    </tr>
                    <tr>
                        <td rowspan="2">GCP</td>
                        <td>GMAIL USER NAME</td>
                        <td data-name="serviceAccount">{{if $profile.GCPProfile}}{{$profile.GCPProfile.ServiceAccount}}{{end}}</td>
                    </tr>
                    <tr>
                        <td>SERVICE ACCOUNT FILE CONTENT</td>
                        <td data-name="authJSONFileContent" style="word-wrap: normal; word-break: break-all; white-space: normal;">
                            <div style="height: 80px; overflow-y: auto;">{{if $profile.GCPProfile}}{{$profile.GCPProfile.AuthJSONFileContent}}{{end}}</div>
                        </td>
                    </tr>
                </tbody>
                {{end}}
            </table>
        </div>
    </main>
</body>

</html>